.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button),
.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button),
.quantitySelectorStepper :global(.vtex-numeric-stepper__input) {
  background-color: white;
  border: none;
  color: #475BE0;

}
.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button),
.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button) {
  font-size: 12px;
  border-radius: 30px;
  border-top: 1px solid #475BE0;
  border-bottom: 1px solid #475BE0;

}
.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button) {
  border-left: 1px solid #475BE0;

}
.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button) {
  border-right: 1px solid #475BE0;

}
.quantitySelectorStepper :global(.vtex-numeric-stepper__input) {
  width: 20px;
  border-top: 1px solid #475BE0;
  border-bottom: 1px solid #475BE0;

}
.quantitySelectorContainer {
  margin: 0;
  padding: 0;
  align-items: center;  
}
