.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: white;
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
}

:global(.vtex-slider-layout-0-x-sliderTrackContainer--shelf-licores){
  height: 436px;
}
:global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf-licores) {
  height: 436px;
}

:global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf-licores) :global(.vtex-product-summary-2-x-containerNormal){
  max-width: 270px!important;
  padding: 25px;
  border-radius: 9px;
}