.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.logoContainer--logoFooter{
  padding: 0;
}

.logoLink--logoFooter{
  margin-bottom: -10px;
}

.imageElement--imgFooter{
  margin-bottom: -6px;
  margin-top: 30px;
}

.imageElement--iso{
  margin-right: 16px;
}

.imageElement--carbono{
  margin-top: -33px
}

.searchBarInnerContainer :global(.vtex-input-prefix__group){
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #475be0;
  font-size: 14px;
}

:global(.vtex-styleguide-9-x-input)::placeholder{
  font-size: 14px;
  font-family: Montserrat-SemiBold;
  text-align: start;
}

:global(.vtex-store-components-3-x-searchBarContainer){
  max-width: 100%;
  padding-bottom: 0;
}

:global(.vtex-styleguide-9-x-input), :global(.vtex-input__suffix) {
  border: 0;
  padding: 0;
}

:global(.vtex-store-components-3-x-searchIcon ){
  color: #475be0
}

:global(.vtex-menu-2-x-styledLinkContainer){
  margin: 0;
  /* padding: 0;*/
}

:global(.vtex-menu-2-x-styledLink){
  padding: 8px 0;
  border-bottom: 6px solid transparent;
  display: block;
}

:global(.vtex-menu-2-x-menuItem) :global(.vtex-menu-2-x-styledLinkContainer)  :global(.vtex-menu-2-x-styledLinkContent){
  font-family: Montserrat-SemiBold;
  font-size: 13px;
  font-weight: 500;
 /*  color: #475be0; */
}

:global(.vtex-store-components-3-x-container){
  padding: 0
}

