.menuContainer--menuFooter{
  color: white;
}

.styledLinkContent--terms{
  color: rgb(255, 255, 255, 0.6);
  font-family: Montserrat-SemiBold;
  font-size: 12px;
}

.styledLinkContent--terms:hover{
  color: white
}

.styledLink--terms{
  padding: 8px 0;
  border-bottom: 6px solid transparent;
  display: block;
}

.menuContainerNav--menuFooter{
  align-items: center;
  display: flex;
}

.styledLinkContainer--terms{
  padding: 0;
  margin: 0;
}

.menuItem--terms{
 margin-right: 15px;
 margin-top: 9px;
}

.c-emphasis{
  color: #61c800!important;
}

.menuItem :global(.vtex-menu-2-x-styledLinkContainer) {
  padding: 0;
  margin: 0;
}

.menuItem :global(.vtex-menu-2-x-styledLinkContainer--main-categories) {
  
}

:global(.vtex-menu-2-x-styledLink--item){
  color: #475be0;
}
