.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  /* color: #727273; */
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRow--row-buttons{
  margin-top: 10px;
}

.flexCol--buy-button 
  :global(.vtex-button) {
  background-color: white;
  border-color: #475be9;
  border-radius: 50px;
  border-width: 0.1rem;
  color: #475be9;
  text-transform: capitalize;
  font-family: Montserrat-Regular;
  min-height: 32px;
  height: 100%;
}

.flexCol--buy-button :global(.vtex-button):hover {
  background-color: #475be9;
  border-color: #475be9;
  color: white;
}

.flexRow--row-text-licores{
  background-color: #9eacf0;
}

.flexRow--row-licores{
  background-color: #9eacf0;

}

.flexCol--col-quantity{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.flexColChild--vitrina-licores{
  /* height: 430px!important; */
  padding-left: 50px;
  padding-right: 50px;
}

.flexRow--row-licores :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  margin: auto;
}

/* .flexRow--row-1{
  margin-top: -6px;
  background-color: #475be0;

} */

.flexRowContent--rowLogo{
  display: flex;
  flex-direction: column;
  padding-left: 66px;
}

.flexRowContent--row-2{
  padding-left: 66px;
}

.flexRowContent--row-3{
  padding-left: 66px;
}

.flexRowContent--bloque-payment{
  width: 60%;
  align-items: center;
}

.flexRowContent--bloque-payment :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  justify-content: left;
}

.flexColChild--pago{
  padding-bottom: 4px;
}

.flexCol--excelencia-iso{
  padding-left: 106px;
  align-items: center;
}

.flexRow--bloque-isos{
  padding-left: 106px;
}

.flexRow--bg-ligthGreen{
  background-color: #d3eac0!important;
}

.flexCol--Wrapper-middle-menu{
  max-width: 800px;
}

.flexRow--main-header :global(.vtex-menu-2-x-menuContainer){
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexColChild--bubble-container{
  height: calc(100% + 100px)!important;
  max-height: none;
  position: absolute;
  right: 0;
  top: -60px;
  background: #475be0;
  color: #fff;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  padding-top: 70px;
  padding-bottom: 52px;
  min-width: 200px;
}

.flexCol--bubble-container{
  overflow: hidden;
  height: 100%;
  position: relative;
}

.flexRowContent--name-product :global(.vtex-store-components-3-x-productBrand--quickview){
  color: #475be0;
  font-weight: 900!important;
  font-size: 1.63rem;
  font-family: Montserrat-Bold!important;
  padding-bottom: 20px;
}

.flexRow--wrapper-product{
  max-width: 1380px;
  margin: 0 auto;
  justify-content: space-between;
  min-height: 450px;
}

.flexRowContent--wrapper-product{
  justify-content: space-evenly;
}

.flexCol--wrapper-name-buy{
  max-width: 60%;
}

.flexRow--wrapper-content-price{
  margin: 24px 0 10px;
  flex-direction: column;
}
.flexRowContent--wrapper-content-price{

  align-items: center;
  justify-content: space-between;

}

.flexRow--btn-buy-prod{
  margin-top: 40px;
  position: relative;
}

.flexCol--col-btn-buy 
  :global(.vtex-button){
  background-color: white;
  border-color: #475be9;
  border-radius: 50px;
  border-width: 0.1rem;
  color: #475be9;
  text-transform: capitalize;
  font-family: Montserrat-Regular;
  min-height: 32px;
  height: 100%;
  font-size: 1.3rem;
  letter-spacing: .03em;
  font-weight: 600;
}

.flexCol--col-btn-buy :global(.vtex-button):hover {
  background-color: #475be9;
  border-color: #475be9;
  color: white;
}

.flexRow--btn-buy-prod :global(.vtex-numeric-stepper__input){
  font-size: 1.125rem;
  font-weight: 600;
  color: black!important
}

.flexRowContent--content-price-summary{
  justify-content: space-between;
}

.flexRowContent--wrapper-content-price 
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth), 
.flexRowContent--content-price-summary 
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth)
  {
  width: auto!important;
  margin:0
}

.flexRow--btn-wihlist {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRow--btn-wihlist 
  :global(.vtex-button){
  border-radius: 50px;
  border-width: 0.1rem;
  font-family: Montserrat-Regular;

}

.flexRowContent--btn-wishlist{
  height: 50px;
}

.flexRow--btn-wishlist :global(.vtex-button__label) {
  padding-right: .25rem;
  padding-left: .25rem;
}

.flexRowContent--form-masterData{
  flex-direction: column;
}

.flexRowContent--form-masterData :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  padding-bottom: 20px;
  width: 30%!important;
}

.flexCol--input :global(.vtex-styleguide-9-x-input){
  text-indent: 10px;
  font-family: Montserrat-SemiBold;
  color: black
}

.flexRowContent--row-wishlist :global(.vtex-wish-list-1-x-wishlistIconContainer){
  margin-left: 160px;
  height: 50px;
}

.flexRowContent--login-row{
  flex-direction: column;
}

.flexRowContent--login-row 
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  width: auto!important;
}

.flexColChild--login-col :global(.vtex-login-2-x-profile){
  color: white;
}

.flexColChild--login-col :global(.vtex-button):hover{
  background-color: #6773e7;
}

.flexRowContent--login-col{
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.flexRow--wrapperGeneralPanel{
  margin-top: 30px;
  margin-bottom: 100px;
}

.flexRow--migaDePan{
  display: none;
}

.flexRowContent--wrapperGeneralPanel{
  justify-content: space-around;
}

.flexColChild--WrapperLeftPanel{
  height: auto!important;
}

.flexRowContent--WrapperSearchInfo{
  justify-content: space-between;
}

.flexRowContent--WrapperSearchInfo :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  width: fit-content!important;
}

.flexColChild--orderByCol{
  cursor: pointer;
  font-size: 1.1em;
  color: #475be0;
  font-weight: 600;
  text-align: center;
}
.flexCol--productCountCol{
  font-weight: 600;
  color: #82878a;
  font-size: .9em;
  letter-spacing: .03em;
  font-family: Montserrat-Regular;
}

.flexRowContent--main-header{
  min-height: 100px;
  justify-content: space-between;
}