.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  font-size: .75rem;
  font-weight: 900;;
  color: #82878a;
  font-family: Montserrat-Regular;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

.buy-button{
  color: red;
}

:global(.vtex-product-summary-2-x-container) {
  background-color: #fff;
  max-width: 220px!important;
  padding: 40px 0;
  margin: 0 auto;
  border-radius: 9px;
  width: 100%;
  position: relative;
  border-bottom: .9px solid #e5e6e7;
  border-radius: inherit;
}

:global(.vtex-product-summary-2-x-element){
  position: relative;
  padding: 0;
} 

:global(.vtex-product-summary-2-x-element--product-add){
  display: flex;
  flex-direction: row;
}

:global(.vtex-product-summary-2-x-container--product-add){
 max-width: 100%!important;
 padding: 15px!important;
}

:global(.vtex-product-summary-2-x-image--img-summary){
  max-width: 180px;
}